article
	h4.black-box A la lune
	div
		strong  Sutesdf 
		span.muted | publdae 12/24/07
	h3 Lorem ipsum dolor sit amet, consectetur adipisicing.
	p.muted Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	
	.row
		.column.small-3
			span.fi-folder  Viowr
		.column.small-9
			ul.menu.simple
				li: span.fi-pricetag-multiple
				li: a(href="") in 
				li: a(href="") culpa
				li: a(href="") qui
				li: a(href="") officia
		.column.small-12: hr 

article
	.black-box WEBZONE
		strong  ED0DES25
	strong: a(href="")  Sutesdf 
	span.muted | publdae 12/24/07
	h3 Duis aute irure dolor in reprehenderit in voluptate.
	p.muted Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	
	.row
		.column.small-3
			span.fi-folder  Viowr
		.column.small-9
			ul.menu.simple
				li: span.fi-pricetag-multiple
				li: a(href="") in 
				li: a(href="") culpa
				li: a(href="") qui
				li: a(href="") officia
		.column.small-12: hr 

article
	strong Sutesdf 
	span.muted | publdae 12/24/07
	h3 In reprehenderit in voluptate.
	p: img(src="http://fillmurray.com/g/600/250")
	p.muted Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	
	.row
		.column.small-3
			span.fi-folder  Viowr
		.column.small-9
			ul.menu.simple
				li: span.fi-pricetag-multiple
				li: a(href="") in 
				li: a(href="") culpa
				li: a(href="") qui
				li: a(href="") officia
		.column.small-12: hr 
		
article
	strong Sutesdf 
	span.muted | publdae 12/24/07
	h3 In reprehenderit in voluptate.
	p.muted Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	
	.row
		.column.small-3
			span.fi-folder  Viowr
		.column.small-9
			ul.menu.simple
				li: span.fi-pricetag-multiple
				li: a(href="") in 
				li: a(href="") culpa
				li: a(href="") qui
				li: a(href="") officia