article
	h4 Teret par Expertises
	ul.square
		li Mauris iaculis
		li Portitor posure
		li Praesent
		li Metus massa
	hr
	
article.tint-box
	.lead WEBZINE
	strong EDC0F375
	
	p.muted ENTEDI <br> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
	
		p.muted QUESTIONS <br> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

article.tint-box
	.lead WEBZINE
	strong Actions Comunes
	
	p:  img(src="http://www.fillmurray.com/g/500/800")
	
article.tint-box
	.strong Lorem ipsum dolor sit amet.